.message-liked {
    color: red;
}

.message-like:hover {
    cursor: pointer;
}

.message {
    width: 80% !important;
    margin-bottom: 15px !important;
}

.message .message-text {
    word-break: break-all;
}