.header {
  background-color: aliceblue !important;
}

.header-title {
  font-size: 2vw;
  color: #2185d0;
  overflow: hidden;
  white-space: nowrap;
}

.count-info {
  line-height: 1.5;
  padding-left: 20px;
  font-size: 1.5vw;
  color: gray;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header-date {
  font-size: 1.2vw;
  color: gray;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

