.own-message {
    margin-left: 20% !important;
    width: 80% !important;
    margin-bottom: 15px !important;
}

.own-message .message-text {
    word-break: break-all;
}

.message-edit:hover {
    cursor: pointer !important;
    color: gray !important;
}

.message-delete:hover {
    cursor: pointer !important;
    color: gray !important;
}